body {
  background-color: white;
  font-family:bolder;
  color: blue;
  font-size: 35;
  text-align: center;
  margin-bottom: 10px;
}

select:hover {
  background-color: blue;
  color: White;
}

.negative-colors {
  -webkit-filter: invert(100%);
   filter: invert(100%);
  }

.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  }

.white-black {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  }


.original {
  -webkit-filter: (100%);
  filter: (100%);
}
